body {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 30px;
    background-color: #FFF4BF;
}

header {
    text-align: center;
    background-color: #DC95FF;
    padding: 20px 15px;      
    border-radius: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;     
}

nav a:hover {
    color: #ffeb3b;         
    text-decoration: underline;
}

nav {
    background-color: #8C56D4;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;          
    justify-content: center; 
    align-items: center;      
    gap: 20px;                
    padding: 15px;             
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.wadah-galeri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}

.foto-wisata {
    justify-self: center;  
    width: 100%;         
    max-width: 350px;     
    height: 200px;          
    margin: 10px;          
    border: 15px solid white;
    border-radius: 0px;    
    box-sizing: border-box; 
    object-fit: cover;     
    transition: transform 0.3s ease;
}
.foto-wisata:hover {
    transform: scale(1.05); 
}

@media (max-width: 600px) {
    
    .wadah-galeri {
        grid-template-columns: 1fr; 
    }

    nav {
        flex-direction: column; 
        gap: 10px;
    }
}

table, th, td {
    padding: 8px 12px; 
    text-align: left; 
    border: 2px solid #000000;
}

table {
    margin-bottom: 25px; 
    border-collapse: collapse; 
}

video {
    padding: 20px 12px; 
}

#formulir {
    background-color: #DC95FF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #318435;
}

#galeri {
    background-color: #DC95FF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #8C56D4;
    text-align: center;
    margin-top: 30px;
    padding: 20px 15px;      
    border-radius: 5px;      
    font-size: 14px;
    color: #ffffff;          
}


footer p {
    margin: 5px 0;     
}